#//////////////////////////
# NPM
#//////////////////////////
node_modules/
package.json
package-lock.json

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

